<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ML Model Iris Dataset</title>
  <link href="../css/css.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
</head>

<body>
<table width="1000" border="0" align="center">
  <tbody>
  <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="header">Demonstration Of Deployed Keras Machine Learning Model Using Iris Dataset </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="title">Enter flower measurements then click the "Predict" button</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
      <table width="100%">
        <tbody>
        <tr>
          <td class="center"><input type="text" class="measurement_inputs" id="sl" size="7" value="5.0"/><br><span class="measurement_inputs">Sepal Length</span></td>
          <td>&nbsp;</td>
          <td class="center"><input type="text" class="measurement_inputs" id="sw" size="7"  value="3.9"/><br><span class="measurement_inputs">Sepal Width</span></td>
          <td>&nbsp;</td>
          <td class="center"><input type="text" class="measurement_inputs" id="pl" size="7"  value="2.0"/><br><span class="measurement_inputs">Petal Length</span></td>
          <td>&nbsp;</td>
          <td class="center"><input type="text" class="measurement_inputs" id="pw" size="7"  value="0.5"/><br><span class="measurement_inputs">Petal Width</span></td>
          <td class="center"><input type="button" id="predict_button" class="predict_btn" value="Predict"></td>
          <td class="center"><span class="measurement_inputs" id="setosa">00.0%</span><br><span class="measurement_inputs">Setosa</span></td>
          <td class="center"><span class="measurement_inputs" id="versicolor">00.0%</span><br><span class="measurement_inputs">Versicolor</span></td>
          <td class="center"><span class="measurement_inputs" id="virginica">00.0%</span><br><span class="measurement_inputs">Virginica</span></td>
        </tr>
        </tbody>
      </table>
    
    </td>
      <td>&nbsp;</td>
    </tr>
  <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
</table>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<!-- <script src="{{ url_for('static',filename='index.js') }}"></script> -->
<script type="text/javascript">
       $(".predict_btn").click(function(){
           sl = document.getElementById("sl").value;
           sw = document.getElementById("sw").value;
           pl = document.getElementById("pl").value;
           pw = document.getElementById("pw").value;
           data_to_send = {
                 'sl':sl,
                 'sw':sw,
                 'pl':pl,
                 'pw':pw
               }
           //console.log(sl)
           setosa_fn = document.getElementById("setosa");
           versicolor_fn = document.getElementById("versicolor");
           virginica_fn = document.getElementById("virginica");
           //console.log(setosa_fn)
           //var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
           $.ajax({
               type: "POST",
               contentType: 'application/json',
               url: "http://localhost:5000/predict",
               dataType: 'json',
               data: JSON.stringify(data_to_send),
               success: function(data){
                  console.log(data);
                  var obj = data;
                  console.log("obj" + obj )
                  console.log(obj.setosa);
                  console.log(obj.versicolor);
                  console.log(obj.virginica);
                  setosa_fn.innerHTML = (parseFloat(obj.setosa)*100).toFixed(1) + "%";
                  versicolor_fn.innerHTML = (parseFloat(obj.versicolor)*100).toFixed(1) + "%";
                  virginica_fn.innerHTML = (parseFloat(obj.virginica)*100).toFixed(1) + "%";
               },
               error: function(data){
                  console.log(data);
                  setosa_fn.innerHTML = "Error";
                  versicolor_fn.innerHTML = "Error";
                  virginica_fn.innerHTML = "Error";
              }
           });
       });
</script>
</body>
</html>
